.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --slate: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --white: #fff;
  --cornflower: #e7e9fc;
  --green: #31d0aa;
  --dairy: #fcfcfc;
  --lightslate: #8e8f99;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
/* Common */

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}

.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .logo-dark {
  color: var(--navyblue);
}

.menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon {
  display: block;
  fill: #2f2f37;
}
/* Header Tablet */
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .nav-list-item {
    display: block;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item.current {
    position: relative;
    color: var(--ocean);
  }

  .nav-list-item.current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--ocean);
    border-radius: 2px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-list-item {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item:hover,
  .nav-list-item:focus,
  .address-list-item:hover,
  .address-list-item:focus {
    color: var(--ocean);
  }
}

/* Header Desktop */

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .address-list-item {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* Mobile Menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-cntnr {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}
.close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu {
  margin-bottom: auto;
}
.nav-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link.current {
  color: #404bbf;
}

.address-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.address-menu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}

.address-menu-link.current {
  color: #4d5ae5;
}
.address-menu-link:focus {
  color: #4d5ae5;
}
.menu-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}

.menu-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-socials-link:hover,
.menu-socials-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* Hero Section */
.hero-section {
  display: block;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  background-color: rgba(46, 47, 66, 0.7);
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/mob-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/mob-back@2x.jpg');
  }
}

.title-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  width: 216px;
}

.button-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

/* Hero Section Tablet */

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-color: #2e2f42;
    padding: 112px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/tab-back.jpg');
  }
  .title-hero {
    width: 496px;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 48px;
  }

  @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/tab-back@2x.jpg');
    }
  }
}

/* Hero section desktop */
@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/desktob-back.jpg');
  }

  @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/desktop-back@2x.jpg');
    }
  }
}

/*Benefits section */

.svg-box {
  display: none;
}

.benefits-section {
  flex-direction: column;
  gap: 72px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-container {
  max-width: 318px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-item {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Benefits section tablet */
@media screen and (min-width: 768px) {
  .benefits-container {
    max-width: 766px;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list-title {
    text-align: left;
    margin-bottom: 8px;
  }
}

/* Benefits section Desktop */

@media screen and (min-width: 1158px) {
  .benefits-container {
    min-width: 1158px;
  }

  .benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-list-title {
    font-size: 20px;
  }
  .svg-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background: #f4f4fd;
  }
}

/* Team section */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
  padding: 96px 0;
}
.team-container {
  width: 320px;
  padding: 0 28px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.position-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-item-title {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}

.team-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  text-align: center;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-item:focus {
  background-color: #404bbf;
}
.social-list-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #fff;
}

.social-list-link:focus,
.social-list-link:hover {
  background-color: #404bbf;
}

/* Team Section Tablet */

@media screen and (min-width: 768px) {
  .team-section {
    background-color: #f4f4fd;
  }
  .team-container {
    width: 768px;
    padding: 0 108px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}
/* Team section Desktop */
@media screen and (min-width: 1158px) {
  .team-section {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;
  }

  .team-container {
    min-width: 1158px;
    padding: 0 15px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/* Portfolio section */
.portfolio-section {
  background-color: #fff;
  padding: 96px 0;
}

.portfolio-container {
  min-width: 320px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 72px;
}
.portfolio-list-image {
  position: relative;
  overflow: hidden;
}

.overlay-item {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay-item,
.portfolio-list-item:focus .overlay-item {
  transform: translateY(0);
}

.app-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-title {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: auto;
  margin-top: 8px;
}
/* Portfolio section  tablet */
@media screen and (min-width: 768px) {
  .portfolio-section {
    background-color: #fff;
    padding: 96px 0;
  }

  .portfolio-container {
    min-width: 768px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 24px) / 2);
  }
}
/* Portfolio section desktop */
@media screen and (min-width: 1158px) {
  .portfolio-section {
    background-color: #fff;
    padding: 120px 0;
  }

  .portfolio-container {
    min-width: 1158px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
  }
}

/* Footer container */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  row-gap: 72px;
}
.footer-link {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 16px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-light {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-item {
  max-width: 288px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.social-media-container {
  align-items: center;
}

.social-media-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.social-list-item-footer {
  width: 40px;
  height: 40px;
}

.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.social-icon-footer {
  fill: #f4f4fd;
}

.footer-form-cntnr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.footer-form-input {
  width: 288px;
  height: 40px;
  padding: 8px 0px 8px 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: #ffffff;

  opacity: 0.3;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-form-input:placeholder-shown {
  border-color: #ffffff;
}
.subscribe-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}

.subscribe-svg {
  margin-left: 16px;
  fill: #ffffff;
}

/* Footer Tablet */

@media screen and (min-width: 768px) {
  .footer-container {
    min-width: 768px;
    justify-content: flex-start;
    text-align: start;
    column-gap: 24px;
    padding-left: 108px;
  }
  .footer-item {
    max-width: 264px;
  }
  .social-media-container {
    flex-direction: row;
    gap: 24px;
  }
  .social-media-title {
    text-align: left;
    margin-top: 0;
  }
  .footer-form-cntnr {
    display: inline-block;
    flex-direction: row;
    align-items: center;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
  }
}
/* Footer Desktop */
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    max-width: 1158px;
    align-items: baseline;
    gap: 0;
    padding-left: 15px;
  }
  .footer-webstudio-container {
    margin-right: 120px;
  }

  .footer-form-cntnr {
    margin-left: auto;
  }
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-form-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.close-form-btn:focus,
.close-form-btn:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-form {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.contacts-form-cntnr {
  margin-bottom: 8px;
}

.contacts-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.contacts-cntnr {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 256px;
  height: 40px;
}
.form-input:hover,
.form-input:focus-within {
  border-color: #4d5ae5;
}

.contacts-cntnr:hover,
.contacts-cntnr:focus-within {
  fill: #4d5ae5;
}

.contacts-cntnr svg {
  top: 50%;
  left: 16px;

  fill: #2e2f42;

  position: absolute;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-cntnr:hover .close-svg,
.contacts-cntnr:focus-within .close-svg {
  fill: #4d5ae5;
}

.form-input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-form-cntnr {
  margin-bottom: 16px;
}
.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:hover,
.textarea-comment:focus {
  border-color: #4d5ae5;
}
.checkbox-form {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

input:checked + .checkbox-label .checkbox-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.checkbox-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .modal {
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .checkbox-form {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .form-input:focus + .contacts-svg {
    fill: var(--iris);
  }
}
